.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FC6893;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #DD86FC;
  font-size: 8rem;
  color: #C525FF;
}

p {
  font-size: 3rem;
  color: #8F44FC;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 8%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
